.wrap {
  display: block;
  margin: auto;
  padding: 20px;
  width: 500px;
  background-color: rgb(253, 252, 250);
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-radius: 10px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.inner {
  display: flex;
  justify-content: space-around;
}

.avatar {
  width: 200px;
  height: auto;
}

.user {
  width: 200px;
  height: auto;
  font-weight: 700;
}
