@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ruda:wght@700&display=swap');
/*font-family: 'Roboto Slab', serif;
font-family: 'Ruda', sans-serif;*/

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Ruda', Arial, Helvetica, sans-serif;
  color: #263137;
  background: rgb(187,201,208);
  background: linear-gradient(90deg, rgba(187,201,208,1) 0%, rgba(156,176,186,1) 50%, rgba(113,143,157,1) 100%);
}

.wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 15px 0 0;
  padding: 3rem;
  min-height: calc(100vh - 40px);
}

.link {
  position: fixed;
  padding: 1rem 2rem;
  color: #BBC9D0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  background-color: #263137;
}

.link:nth-child(1) {
  top: 35%;
  margin-top: -2.5rem;
}

.link:nth-child(2) {
  top: 50%;
  margin-top: -2.5rem;
}

.link:nth-child(3) {
  top: 65%;
  margin-top: -2.5rem;
}

.link:not(:last-child) {
  margin-bottom: 2rem;
}
