.buttons {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.button:not(:last-child) {
  margin-right: 1rem;
}

.button:hover {
  font-weight: 700;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.text {
  margin-right: 1rem;
  font-family: 'Ruda', sans-serif;
  text-transform: uppercase;
}

.count {
  width: 30px;
  height: 30px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #263137;
}